body{
    background-color: #eaf6f6;
    font-family: cursive;
}
hr{
    /* background-color: white; now redundant since there's no background */
    border-style: dotted none none;
    /* or border-style: none;
    border-top-style:dotted;
     */
    /* height: 2px; */
    border-color: grey;
    border-width: 5px;
    width: 5%;
    border-radius: 0;
    }
    h1{
        color: #36626a;
        
    }
    h3{
        color: #588d9c;
        
    }
    img{
        border-radius: 50%;
        border-color: #36626a;
        border-style: dotted;
        border-width: 5px;
        
        
    }